.container {
    display: flex;
}

.staffContainer {
    border: red solid 1px;
    width: 100%;
    margin-left: auto;
    margin-right: 20px;
}

.companyContainer {
    border: red solid 1px;
    margin-left: 20px;
    width: 100%;
}

.companyTable {

    width: 100%;
}

.companyTable tr td {
    border: red solid 1px;
}

.active {
    background-color: #9494ff;
}

.staffTable {
    width: 100%;
}

.staffTable tr td {
    border: red solid 1px;
}
